<!--<!DOCTYPE html>-->
<!--<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    &lt;!&ndash;/*  Each token will be replaced by their respective titles in the resulting page. */&ndash;&gt;-->
<!--    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Task List</title>-->
<!--    ...-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;/* Standard layout can be mixed with Layout Dialect */&ndash;&gt;-->
<!--<div th:replace="fragments/header :: header">-->
<!--    ...-->
<!--</div>-->
<!--<div class="container">-->
<!--    <div layout:fragment="content">-->
<!--        &lt;!&ndash; ============================================================================ &ndash;&gt;-->
<!--        &lt;!&ndash; This content is only used for static prototyping purposes (natural templates)&ndash;&gt;-->
<!--        &lt;!&ndash; and is therefore entirely optional, as this markup fragment will be included &ndash;&gt;-->
<!--        &lt;!&ndash; from "fragments/header.html" at runtime.                                     &ndash;&gt;-->
<!--        &lt;!&ndash; ============================================================================ &ndash;&gt;-->
<!--        <h1>Static content for prototyping purposes only</h1>-->
<!--        <p>-->
<!--            Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
<!--            Praesent scelerisque neque neque, ac elementum quam dignissim interdum.-->
<!--            Phasellus et placerat elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
<!--            Praesent scelerisque neque neque, ac elementum quam dignissim interdum.-->
<!--            Phasellus et placerat elit.-->
<!--        </p>-->
<!--    </div>-->
<!--    <div th:replace="fragments/footer :: footer">&copy; 2014 The Static Templates</div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->